/* Footer.css */

.footer {
    height: 80vh;
    color: #f1f1f1; 
    padding: 2rem 2vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem; 
    font-family: sans-serif; 
  }
  
  .footerTitle {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .footerTitle h3 {
    font-size: 1.5rem;
    font-weight: 300; 
    color: #e0e0e0;
  }
  
  .footerContent {
    display: flex;
    justify-content: center;
    gap: 4vw; 
    flex-wrap: wrap; 
  }
  
  .footerbox {
    color: #d1d1d1;
    padding: 1.5rem;
    text-align: center;
    flex: 1 1 300px; 
    background:  linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
  }
  
  .footerboxh3 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    letter-spacing: 0.5px;
  }
  
  .footerbox p {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #a3a3a3;
  }
  
  .footerBottom {
    display: flex;
    align-items: row;
    flex-direction: column;
    width: 1200px;
    text-align: center;
    justify-content: center;
    font-size: 0.85rem;
    color: #a3a3a3;
  }

  .footerBottom button {
    border: none;
    background:none;
  }

  .footerBottom h2{
    font-size: 1.2rem;
    color: #f1f1f1;
    border-bottom: 2px solid #1056a7;
    letter-spacing: 1.8px;
    background:  linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    padding: 5px;
  }


  
  .footerBottom li {
    list-style: none;
    margin: 0.5rem 10rem;
  }
  
  .footerBottom a {
    color: #80cbc4; /* Example link color */
    text-decoration: none;
    
    
  }
  
  
  }
  
  /* Responsive adjustments */
  @media (max-width: 2000px) {
    .footerContent {
      flex-direction: column; /* Stack boxes on smaller screens */
      flex-wrap: nowrap;
      align-items: center;
    }
  
    .footerbox {
      width: 80%;
      grid-template-columns: 1fr;
    }

    .footer{
      max-width: 800px;
      width: 800px;
    }


  }


  .footerBtn {
    width: 7em;
    position: relative;
    height: 3.5em;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 0.5s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    
    
  }
  

  


  .footeranchors{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }