/* =========================
   FOOTER BASE
========================= */

.footer {
  width: 100%;
  height: 100vh;
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  color: #000000;
  background: #0D1015;
background: linear-gradient(90deg, rgba(13, 16, 21, 1) 0%, rgba(36, 36, 38, 1) 100%);
}

.footerBtn{
  
  border: none;
  padding: 1rem;
  color: #003e97;
  font-weight:900;
}


/* =========================
   TITLE
========================= */

.footerTitle {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  border-bottom: 1px solid grey;
  padding-bottom: 1rem;
}

.footerTitle h3 {
  font-size: 1.3rem;
  font-weight: 500;
}

/* =========================
   CONTENT
========================= */

.footerContent {
  width: 100%;
  max-width: 1400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 3rem;
  border-radius: 25px;


}

.footerbox {
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  color: #f7f9fb;
  border-radius: 8px;
  transition: 0.3s ease;
}

.footerbox:hover {
  transform: translateY(-2px);
 border-bottom:  1px  solid rgba(0,0,0,0.4);;
}

.footerboxh3 {
  margin-bottom: 0.8rem;
  font-size: 2.0rem;
  transition: 0.3s ease;
}

.footerbox p {
  font-size: 0.9rem;
  color: #f7f9fb;
  transition: 0.3s ease;
}

/* =========================
   BOTTOM
========================= */

.footerBottom {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* 🔥 ARREGLADO: lista correcta */
.footeranchors {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.footeranchors li {
  list-style: none;
}

.footeranchors a {
  text-decoration: none;
}

.footerBottom h2 {
  font-size: 1rem;
  color: #ffffff;
  border-bottom: 2px solid #1056a7;
  padding: 5px 10px;
  transition: 0.3s ease;
}

.footerBottom h2:hover {
  color: #80cbc4;
}

/* EMAIL */

.footerEmail {
  font-size: 0.9rem;
  color: #ffffff;
  text-align: center;
}


/* =========================
   TABLET
========================= */

@media (min-width: 768px) {
  .footerContent {
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .footerBottom {
    flex-direction: row;
    justify-content: center;
  }

  
}