html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(6, 9, 12);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(17, 28, 66) 35%, rgb(0, 0, 0) 100%);
  margin: 0;
  font-family: sans-serif;
  scroll-snap-type: y mandatory; /* Habilita el "scroll snapping" vertical */
  overflow-y: scroll; /* Asegura que el scroll funcione */
  
}

