.banner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center; /* 🔥 centra TODO el contenido */
  align-items: center;
  padding: 2rem;
  background: #f7f9fb;
}



/* 🔥 CONTENEDOR INTERNO (CLAVE) */
.bannerContent {
  width: 100%;
  max-width: 1200px; /* 🔥 evita que se desparrame */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* TEXT */

.bannerText {
  display: flex;
  flex-direction: column;
  align-items: center; /* 🔥 centrado en mobile */
  gap: 1rem;
  text-align: center;
  max-width: 600px;
}

/* IMAGE */

.bannerImgContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.bannerImg {
  width: 100%;
  max-width: 400px;
}

/* TEXT STYLES */

.banner h1 {
  font-size: 2.2rem;
  line-height: 1.1;
  color: #000000;
  font-family: "Manrope", sans-serif;
}



.banner h2 {
  font-size: 1.2rem;
  color: #00296a;
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.banner p {
  font-size: 1rem;
  color: #000000;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* BUTTON */

.btnToExplore, .btnToContact {
  display: inline-flex;
  
  padding: 0.7rem 1.4rem;
  border-radius: 8px;
  text-decoration: none;
  border: 1px solid #c1c2c2;
}

.btnToExplore{
 background-color: #d5e3fc;
  
}

.btnToContact{
 background-color: #00296a;
  color: #f7f9fb;
}



/* =========================
   TABLET
========================= */

@media (min-width: 768px) {
  .bannerContent {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .bannerText {
    align-items: flex-start;
    text-align: left;
  }

  .banner h1 {
    font-size: 3rem;
  }
}

/* =========================
   DESKTOP
========================= */

@media (min-width: 1200px) {
  .banner h1 {
    font-size: 3.5rem;
  }


  .BannerBtnContainer{
  display: flex;
  flex-direction: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}


}